---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Pagination } from 'accessible-astro-components'
import Card from '../../components/Card.astro'

import { contentfulClient } from "../../lib/contentful";
import type { Posts } from "contentful";



const entries = await contentfulClient.getEntries<Posts>({
  content_type: "post",
});

const { page } = Astro.props

---

<DefaultLayout
  title="Blog"
  description="An example of a blog with dynamic content fetched from JSONPlaceholder using the title, body and userId."
>
  <section class="my-12">
    <div class="space-content container">
      <h1>Authors</h1>
      <p class="text-2xl">
        An example of a blog with dynamic content fetched from <a href="https://jsonplaceholder.typicode.com/posts"
          >JSONPlaceholder</a
        > using the title, body and userId. The Accessible Astro Card Component is used here to display al the posts.
      </p>
      <ul>
      </ul>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <ul class="my-3">
        {
          entries.items.map((item) => (
            <li>
              <Card
                url={`/blog/${item.fields.slug}`}
                title={item.fields.title}
                slug={item.fields.slug}
                body={item.fields.body}
                heroImageUrl={item.fields.heroImage?.fields.file.url}
                description={item.fields.description}
                publishDate={item.fields.publishDate}
                tags={item.fields.tags}
                author={item.fields.author?.fields.name}
              >
              </Card>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
